web/WEB-INF/wsdl/localhost_8084/Servicios/ServicioUsuarios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="listarUsuarios" type="tns:listarUsuarios" />

<xs:element name="listarUsuariosResponse" type="tns:listarUsuariosResponse" />

<xs:element name="verInfoUsuario" type="tns:verInfoUsuario" />

<xs:element name="verInfoUsuarioResponse" type="tns:verInfoUsuarioResponse" />

<xs:complexType name="verInfoUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verInfoUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="fecha_nac" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="img" type="xs:string" minOccurs="0" />
<xs:element name="listaGananciasPorMes" type="tns:mesGanancia" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="nick" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="pass" type="xs:string" minOccurs="0" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="mesGanancia">
<xs:sequence>
<xs:element name="ganancia" type="xs:double" />
<xs:element name="mes" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuarios">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>