src/conf/xml-resources/web-service-references/ServicioCategorias/wsdl/localhost_8084/Servicios/ServicioCategorias.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="listarCategorias" type="tns:listarCategorias" />

<xs:element name="listarCategoriasPorJuego" type="tns:listarCategoriasPorJuego" />

<xs:element name="listarCategoriasPorJuegoResponse" type="tns:listarCategoriasPorJuegoResponse" />

<xs:element name="listarCategoriasResponse" type="tns:listarCategoriasResponse" />

<xs:complexType name="listarCategoriasPorJuego">
<xs:sequence>
<xs:element name="id_juego" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategoriasPorJuegoResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:int" />
<xs:element name="imagen" type="xs:string" minOccurs="0" />
<xs:element name="juegos" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCategorias">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarCategoriasResponse">
<xs:sequence>
<xs:element name="return" type="tns:categoria" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>
</xs:schema>