src/conf/xml-resources/web-service-references/ServicioCompras/wsdl/localhost_8080/Servicios/ServicioCompras.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ServicioCompras">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Servicios/ServicioCompras?xsd=1" />
</xsd:schema>
</types>
<message name="verComprasJuego">
<part name="parameters" element="tns:verComprasJuego" />
</message>
<message name="verComprasJuegoResponse">
<part name="parameters" element="tns:verComprasJuegoResponse" />
</message>
<message name="altaCompra">
<part name="parameters" element="tns:altaCompra" />
</message>
<message name="comproJuego">
<part name="parameters" element="tns:comproJuego" />
</message>
<message name="comproJuegoResponse">
<part name="parameters" element="tns:comproJuegoResponse" />
</message>
<portType name="ServicioCompras">
<operation name="verComprasJuego">
<input wsam:Action="http://ws/ServicioCompras/verComprasJuegoRequest" message="tns:verComprasJuego" />
<output wsam:Action="http://ws/ServicioCompras/verComprasJuegoResponse" message="tns:verComprasJuegoResponse" />
</operation>
<operation name="altaCompra">
<input wsam:Action="http://ws/ServicioCompras/altaCompra" message="tns:altaCompra" />
</operation>
<operation name="comproJuego">
<input wsam:Action="http://ws/ServicioCompras/comproJuegoRequest" message="tns:comproJuego" />
<output wsam:Action="http://ws/ServicioCompras/comproJuegoResponse" message="tns:comproJuegoResponse" />
</operation>
</portType>
<binding name="ServicioComprasPortBinding" type="tns:ServicioCompras">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="verComprasJuego">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="altaCompra">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="comproJuego">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioCompras">
<port name="ServicioComprasPort" binding="tns:ServicioComprasPortBinding">
<soap:address location="http://localhost:8080/Servicios/ServicioCompras" />
</port>
</service>
</definitions>