web/WEB-INF/wsdl/localhost_8080/Servicios/ServicioJuegos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ServicioJuegos">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/Servicios/ServicioJuegos?xsd=1" />
</xsd:schema>
</types>
<message name="buscarJuegoPorId">
<part name="parameters" element="tns:buscarJuegoPorId" />
</message>
<message name="buscarJuegoPorIdResponse">
<part name="parameters" element="tns:buscarJuegoPorIdResponse" />
</message>
<message name="listarJuegosPorCategoria">
<part name="parameters" element="tns:listarJuegosPorCategoria" />
</message>
<message name="listarJuegosPorCategoriaResponse">
<part name="parameters" element="tns:listarJuegosPorCategoriaResponse" />
</message>
<message name="listarJuegosConCompras">
<part name="parameters" element="tns:listarJuegosConCompras" />
</message>
<message name="listarJuegosConComprasResponse">
<part name="parameters" element="tns:listarJuegosConComprasResponse" />
</message>
<message name="listarJuegosPorCliente">
<part name="parameters" element="tns:listarJuegosPorCliente" />
</message>
<message name="listarJuegosPorClienteResponse">
<part name="parameters" element="tns:listarJuegosPorClienteResponse" />
</message>
<message name="listarJuegosPorDesarrollador">
<part name="parameters" element="tns:listarJuegosPorDesarrollador" />
</message>
<message name="listarJuegosPorDesarrolladorResponse">
<part name="parameters" element="tns:listarJuegosPorDesarrolladorResponse" />
</message>
<message name="listarJuegosPorDesarrolladorVersionAprobada">
<part name="parameters" element="tns:listarJuegosPorDesarrolladorVersionAprobada" />
</message>
<message name="listarJuegosPorDesarrolladorVersionAprobadaResponse">
<part name="parameters" element="tns:listarJuegosPorDesarrolladorVersionAprobadaResponse" />
</message>
<message name="verInfoJuego">
<part name="parameters" element="tns:verInfoJuego" />
</message>
<message name="verInfoJuegoResponse">
<part name="parameters" element="tns:verInfoJuegoResponse" />
</message>
<message name="listarJuegos">
<part name="parameters" element="tns:listarJuegos" />
</message>
<message name="listarJuegosResponse">
<part name="parameters" element="tns:listarJuegosResponse" />
</message>
<message name="Buscar">
<part name="parameters" element="tns:Buscar" />
</message>
<message name="BuscarResponse">
<part name="parameters" element="tns:BuscarResponse" />
</message>
<message name="bajaJuego">
<part name="parameters" element="tns:bajaJuego" />
</message>
<portType name="ServicioJuegos">
<operation name="buscarJuegoPorId">
<input wsam:Action="http://ws/ServicioJuegos/buscarJuegoPorIdRequest" message="tns:buscarJuegoPorId" />
<output wsam:Action="http://ws/ServicioJuegos/buscarJuegoPorIdResponse" message="tns:buscarJuegoPorIdResponse" />
</operation>
<operation name="listarJuegosPorCategoria">
<input wsam:Action="http://ws/ServicioJuegos/listarJuegosPorCategoriaRequest" message="tns:listarJuegosPorCategoria" />
<output wsam:Action="http://ws/ServicioJuegos/listarJuegosPorCategoriaResponse" message="tns:listarJuegosPorCategoriaResponse" />
</operation>
<operation name="listarJuegosConCompras">
<input wsam:Action="http://ws/ServicioJuegos/listarJuegosConComprasRequest" message="tns:listarJuegosConCompras" />
<output wsam:Action="http://ws/ServicioJuegos/listarJuegosConComprasResponse" message="tns:listarJuegosConComprasResponse" />
</operation>
<operation name="listarJuegosPorCliente">
<input wsam:Action="http://ws/ServicioJuegos/listarJuegosPorClienteRequest" message="tns:listarJuegosPorCliente" />
<output wsam:Action="http://ws/ServicioJuegos/listarJuegosPorClienteResponse" message="tns:listarJuegosPorClienteResponse" />
</operation>
<operation name="listarJuegosPorDesarrollador">
<input wsam:Action="http://ws/ServicioJuegos/listarJuegosPorDesarrolladorRequest" message="tns:listarJuegosPorDesarrollador" />
<output wsam:Action="http://ws/ServicioJuegos/listarJuegosPorDesarrolladorResponse" message="tns:listarJuegosPorDesarrolladorResponse" />
</operation>
<operation name="listarJuegosPorDesarrolladorVersionAprobada">
<input wsam:Action="http://ws/ServicioJuegos/listarJuegosPorDesarrolladorVersionAprobadaRequest" message="tns:listarJuegosPorDesarrolladorVersionAprobada" />
<output wsam:Action="http://ws/ServicioJuegos/listarJuegosPorDesarrolladorVersionAprobadaResponse" message="tns:listarJuegosPorDesarrolladorVersionAprobadaResponse" />
</operation>
<operation name="verInfoJuego">
<input wsam:Action="http://ws/ServicioJuegos/verInfoJuegoRequest" message="tns:verInfoJuego" />
<output wsam:Action="http://ws/ServicioJuegos/verInfoJuegoResponse" message="tns:verInfoJuegoResponse" />
</operation>
<operation name="listarJuegos">
<input wsam:Action="http://ws/ServicioJuegos/listarJuegosRequest" message="tns:listarJuegos" />
<output wsam:Action="http://ws/ServicioJuegos/listarJuegosResponse" message="tns:listarJuegosResponse" />
</operation>
<operation name="Buscar">
<input wsam:Action="http://ws/ServicioJuegos/BuscarRequest" message="tns:Buscar" />
<output wsam:Action="http://ws/ServicioJuegos/BuscarResponse" message="tns:BuscarResponse" />
</operation>
<operation name="bajaJuego">
<input wsam:Action="http://ws/ServicioJuegos/bajaJuego" message="tns:bajaJuego" />
</operation>
</portType>
<binding name="ServicioJuegosPortBinding" type="tns:ServicioJuegos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarJuegoPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarJuegosPorCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarJuegosConCompras">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarJuegosPorCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarJuegosPorDesarrollador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarJuegosPorDesarrolladorVersionAprobada">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verInfoJuego">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarJuegos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Buscar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="bajaJuego">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
</binding>
<service name="ServicioJuegos">
<port name="ServicioJuegosPort" binding="tns:ServicioJuegosPortBinding">
<soap:address location="http://localhost:8080/Servicios/ServicioJuegos" />
</port>
</service>
</definitions>